
dataset/all data/Obf_webmails_fullWeek1_d.zip
dataset/all data/Obf_webmails_fullWeek1_d1.tsv
dataset/all data/Obf_webmails_fullWeek1_d2.tsv
dataset/all data/Obf_webmails_fullWeek1_d3.tsv
dataset/all data/Obf_webmails_fullWeek1_d4.tsv
dataset/all data/Obf_webmails_fullWeek1_d5.tsv
dataset/all data/Obf_webmails_fullWeek1_d6.tsv
dataset/all data/Obf_webmails_fullWeek1_d7.tsv
dataset/all data/Obf_webmails_fullWeek2_d7.tsv
